<!-- <p> Hola Mundo</p>
<div>
  <h1>
    IDGS 902
  </h1>
</div>
<div>
  {{title}}
</div>
<div>La suma de 2+2 es: {{2+2}}</div>
<div>
  El doble de 3 es: {{duplicarN(3)}}
</div>
<hr>

<div>
  <b class="text-danger">Matricula: </b>
  {{alumno.matricula}}
</div>
<div>
  <b>Nombre: </b>
  {{alumno.nombre | uppercase}}
</div>
<div>
  <b>Apellido Paterno: </b>
  {{alumno.apaterno | lowercase}}
</div>
<div>
  <b>fecha de Nacimiento: </b>
  {{alumno.fecahNacimiento | date:"dd-MM-yy"}}
</div>
<div>
  <b>Inscrito: </b>
  {{alumno.inscrito | currency}}
</div>

<div>
  <hr>
  <app-grupos>
  </app-grupos>
</div>
<hr>
<div>
  <app-idgs902>
  </app-idgs902>
</div>
<hr>
<div> -->
  <!-- <app-iric>
  </app-iric> -->
<!-- </div> -->
<app-menu>
</app-menu>
<div class="container">
  <div class="row">
    <router-outlet>
    </router-outlet>
    <!-- <app-iric>
    </app-iric> -->
    <!-- <app-alumno-reactive>
    </app-alumno-reactive> -->
    <!-- <app-suma>
    </app-suma>
    <app-operas-bas>
    </app-operas-bas> -->
    <!-- <app-distancia-puntos>
    </app-distancia-puntos> -->
  </div>
</div>
